<section class="algo-container">
  <div class="algo-info">
    <h1>Selection Sort</h1>
    <p>
      The selection sort algorithm sorts an array by repeatedly finding the
      minimum element (considering ascending order) from unsorted part and
      putting it at the beginning. The algorithm maintains two subarrays in a
      given array.
    </p>
    <ol>
      <li>The subarray which is already sorted.</li>
      <li>Remaining subarray which is unsorted.</li>
    </ol>

    <p>
      In every iteration of selection sort, the minimum element (considering
      ascending order) from the unsorted subarray is picked and moved to the
      sorted subarray.
    </p>
    <small
      ><a href="https://www.geeksforgeeks.org/selection-sort/"
        >Source: https://www.geeksforgeeks.org/selection-sort/</a
      ></small
    >
  </div>
  <div class="algo-visual">sadsa</div>
</section>
<section class="complexities">
  <div class="time-complexity">timeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</div>
  <div class="space-complexity">spaceeeeeeeeeeeeeeeeeeeeeeeeeeeee</div>
</section>
