:host::ng-deep .col:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in-out;
  border: 1px solid grey !important;
}

.algo-visual {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

:host::ng-deep .col {
  transition: ease-in-out;
}

.searchBtn {
  background-color: #1fa638;
  padding: 10px;
  border: 1px solid #1fa638;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}