<div class="nav-title">
  <span>Algo Visualizer</span>
</div>

<div class="nav-menu-list">
  <ul class="nav-list">
    <li class="nav-item-sort">
      Sort
      <div class="sub-menu-sort">
        <a>Selection Sort</a>
        <a>Bubble Sort</a>
        <a>Insertion Sort</a>
        <a>Quick Sort</a>
      </div>
    </li>
    <li class="nav-item-search">
      Search
      <div class="sub-menu-search">
        <a>Linear Search</a>
        <a>Binary Search</a>
        <a>Jump Search</a>
      </div>
    </li>
    <li class="nav-item-path">
      Path Finding
      <div class="sub-menu-path">
        <a>Dijsktra</a>
        <a>A*</a>
      </div>
    </li>
  </ul>
</div>

<div class="nav-menu-btn">
  <div class="btn-wrapper">
    <img
      src="../../assets/menu.svg"
      alt="logo"
      (click)="onToggleMobileMenu()"
    />
  </div>
</div>

<div class="nav-menu-mobile">
  <div class="nav-item-mobile">
    Sort
    <div class="sub-menu-mobile">Selection Sort</div>
    <div class="sub-menu-mobile">Bubble Sort</div>
    <div class="sub-menu-mobile">Insertion Sort</div>
    <div class="sub-menu-mobile">Quick Sort</div>
  </div>
  <div class="nav-item-mobile">
    Search
    <div class="sub-menu-mobile">Linear Search</div>
    <div class="sub-menu-mobile">Binary Search</div>
    <div class="sub-menu-mobile">Jump Search</div>
  </div>
  <div class="nav-item-mobile">
    Path Finding
    <div class="sub-menu-mobile">Dijkstra</div>
    <div class="sub-menu-mobile">A*</div>
  </div>
</div>
