<div class="nav-title">
  <span>Algo Visualizer</span>
</div>

<div class="nav-menu-list">
  <ul class="nav-list">
    <li class="nav-item">Sort</li>
    <li class="nav-item">Search</li>
    <li class="nav-item">Path Finding</li>
  </ul>
</div>

<div class="nav-menu-btn">
  <div class="btn-wrapper">
    <img
      src="../../assets/menu.svg"
      alt="logo"
      (click)="onToggleMobileMenu()"
    />
  </div>
</div>

<div class="nav-menu-mobile">
  <div class="nav-item-mobile">Sort</div>
  <div class="nav-item-mobile">Search</div>
  <div class="nav-item-mobile">Path Finding</div>
</div>
