.nav-title {
  flex: 9;
}

div span {
  margin: 0 15px;
  font-size: large;
}

/* Desktop Menu */
.nav-list {
  display: flex;
  align-items: center;
  margin-left: -50px;
  display: none;
}

.nav-item {
  text-align: center;
  list-style: none;
  margin: auto 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  min-width: 75px;
}

.nav-item:hover {
  background-color: #e91e63;
}

/* tablet/mobile menu */
.nav-menu-btn {
  flex: 1;
  cursor: pointer;
}

.btn-wrapper:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

.nav-menu-mobile {
  background-color: #1976d2;
  color: white;
  position: absolute;
  top: 60px;
  width: 100%;
  border-top: 1px solid lightgray;
  display: none;
}
.nav-menu-mobile div {
  width: 100%;
  cursor: pointer;
  padding: 10px;
}

.nav-menu-mobile div:hover {
  background-color: #218dfa;
}

/* Media Queries */
@media (min-width: 768px) {
  .nav-menu-btn {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .nav-menu-list {
    flex: 8;
  }

  .nav-title {
    flex: 1;
  }
}
