.nav-title {
  flex: 9;
}

div span {
  margin: 0 15px;
  font-size: large;
}

/* Desktop Menu */
.nav-list {
  display: flex;
  align-items: center;
  margin-left: -50px;
  display: none;
}

.nav-item-sort,
.nav-item-search,
.nav-item-path {
  text-align: center;
  list-style: none;
  margin: auto 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  min-width: 75px;
  position: relative;
}

.sub-menu-sort,
.sub-menu-search,
.sub-menu-path {
  position: absolute;
  background-color: #1976d2;
  border-radius: 4px;
  display: none;
}

.sub-menu-sort a,
.sub-menu-search a,
.sub-menu-path a {
  display: block;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
}

.sub-menu-sort a:hover,
.sub-menu-search a:hover,
.sub-menu-path a:hover {
  display: block;
  background-color: #218dfa;
}

.nav-item-sort:hover,
.nav-item-search:hover,
.nav-item-path:hover {
  background-color: #e91e63;
}

.active-link {
  background-color: #e91e63;
}

.nav-item-sort:hover .sub-menu-sort {
  display: block;
}

.nav-item-search:hover .sub-menu-search {
  display: block;
}

.nav-item-path:hover .sub-menu-path {
  display: block;
}

/* tablet/mobile menu */
.nav-menu-btn {
  flex: 1;
  cursor: pointer;
}

.btn-wrapper:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

.nav-menu-mobile {
  background-color: #1976d2;
  color: white;
  position: absolute;
  top: 60px;
  width: 100%;
  border-top: 1px solid lightgray;
  display: none;
}
.nav-menu-mobile div {
  width: 100%;
  padding: 10px;
}

.sub-menu-mobile:hover {
  background-color: #218dfa;
  cursor: pointer;
}

/* Media Queries */
@media (min-width: 768px) {
  .nav-menu-btn {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .nav-menu-list {
    flex: 8;
  }

  .nav-title {
    flex: 1;
  }
}
