<section class="algo-container">
  <div class="algo-info">
    <h1>Binary Search</h1>
    <p>
      Search a sorted array by repeatedly dividing the search interval in half.
      Begin with an interval covering the whole array. If the value of the
      search key is less than the item in the middle of the interval, narrow the
      interval to the lower half. Otherwise narrow it to the upper half.
      Repeatedly check until the value is found or the interval is empty.
    </p>
    <ul>
      <li>
        Compare x with the middle element.
      </li>
      <li>If x matches with middle element, we return the mid index.</li>
      <li>
        Else If x is greater than the mid element, then x can only lie in right
        half subarray after the mid element. So we recur for right half.
      </li>
      <li>Else (x is smaller) recur for the left half.</li>
    </ul>
    <p>
      <strong>Time Complexity : </strong> O(Logn) <br />
      <strong>Space Complexity : </strong> O(1)
    </p>
    <small
      ><a href="https://www.geeksforgeeks.org/selection-sort/" target="_blank"
        >Source: https://www.geeksforgeeks.org/selection-sort/</a
      ></small
    >
  </div>
  <div class="algo-visual"></div>
</section>
<section class="complexities">
  <div class="space-complexity">
    <div class="language-menu">
      <div
        class="language"
        id="cplusplus"
        (click)="onLanguageSelect('cplusplus')"
      >
        C++
      </div>
      <div class="language" id="c" (click)="onLanguageSelect('c')">C</div>
      <div class="language" id="python" (click)="onLanguageSelect('python')">
        Python
      </div>
      <div class="language" id="java" (click)="onLanguageSelect('java')">
        Java
      </div>
      <div class="language" id="csharp" (click)="onLanguageSelect('csharp')">
        C#
      </div>
      <div class="language" id="php" (click)="onLanguageSelect('php')">PHP</div>
    </div>
    <div class="code-img-wrapper">
      <img src="{{ languageUrl }}" alt="code-snippet" />
    </div>
  </div>
  <div class="time-complexity">
    <h2>Illustration</h2>
    <div class="code-img-wrapper">
      <img
        src="../../../assets/sample_code/search/binary/Binary-Search.png"
        alt="code-snippet"
      />
    </div>
  </div>
</section>
