:host::ng-deep .row {
  width: 100%;
  display: flex;
  flex: 1;
}

:host::ng-deep .col {
  flex: 1;
  background-color: #fff;
  border-radius: 4px;
  margin: 1px;
  border: 1px solid #fff;
  cursor: pointer;
  display: flex;
  transition: background-color 0.5s ease;
}

:host::ng-deep .node {
  margin: auto;
  max-width: 60%;
  max-height: 60%;
}

.algo-container {
  display: flex;
  flex-direction: column;
}

.btnNavigateContainer {
  flex: auto;
  display: flex;
  justify-content: center;
}

.algo-visual {
  flex: auto;
}

.btnNavigateContainer button {
  height: 40px;
  width: 100px;
  background-color: #00308F;
  color: white;
  border-radius: 4px;
  border: none;
  margin: 4px 0;
  cursor: pointer;
}
