<section class="algo-container">
  <div class="algo-info">
    <h1>A* Search Algorithm</h1>
    <p>
      A* (pronounced "A-star") is a graph traversal and path search algorithm,
      which is often used in many fields of computer science due to its
      completeness, optimality, and optimal efficiency. One major practical
      drawback is its O(b^<sup>d</sup>) space complexity, as it stores all
      generated nodes in memory. Thus, in practical travel-routing systems, it
      is generally outperformed by algorithms which can pre-process the graph to
      attain better performance, as well as memory-bounded approaches; however,
      A* is still the best solution in many cases
    </p>
    <small
      ><a
        href="https://en.wikipedia.org/wiki/A*_search_algorithm"
        target="_blank"
        >Source: https://en.wikipedia.org/wiki/A*_search_algorithm</a
      ></small
    >
    <div>
      <button class="searchBtn" type="button" (click)="onSearch()">
        Search
      </button>
    </div>
  </div>
  <div class="algo-visual"></div>
</section>
