<section class="algo-container">
  <div class="algo-info">
    <h1>Linear Search</h1>
    <ul>
      <li>
        Start from the leftmost element of arr[] and one by one compare x with
        each element of arr[]
      </li>
      <li>If x matches with an element, return the index.</li>
      <li>If x doesn’t match with any of elements, return -1.</li>
    </ul>
    <p>
      <strong>Time Complexity : </strong> O(n<sup>2</sup>) <br />
      <strong>Space Complexity : </strong> O(1)
    </p>
    <small
      ><a href="https://www.geeksforgeeks.org/selection-sort/" target="_blank"
        >Source: https://www.geeksforgeeks.org/selection-sort/</a
      ></small
    >
  </div>
  <div class="algo-visual"></div>
</section>
<section class="complexities">
  <div class="space-complexity">
    <div class="language-menu">
      <div
        class="language"
        id="cplusplus"
        (click)="onLanguageSelect('cplusplus')"
      >
        C++
      </div>
      <div class="language" id="c" (click)="onLanguageSelect('c')">C</div>
      <div class="language" id="python" (click)="onLanguageSelect('python')">
        Python
      </div>
      <div class="language" id="java" (click)="onLanguageSelect('java')">
        Java
      </div>
      <div class="language" id="csharp" (click)="onLanguageSelect('csharp')">
        C#
      </div>
      <div class="language" id="php" (click)="onLanguageSelect('php')">PHP</div>
    </div>
    <div class="code-img-wrapper">
      <img src="{{ languageUrl }}" alt="code-snippet" />
    </div>
  </div>
  <div class="time-complexity">
    <h2>Illustration</h2>
    <div class="code-img-wrapper">
      <img
        src="../../../assets/sample_code/search/linear/Linear-Search.png"
        alt="code-snippet"
      />
    </div>
  </div>
</section>
