body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.toolbar {
  height: 60px;
  align-items: center;
  background-color: #3f51b5;
  color: white;
  font-weight: 600;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 999;
}

/* Main Content */
.body-content {
  padding: 60px 10px 10px 10px;
}

.algo-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.algo-info,
.time-complexity,
.space-complexity {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.algo-info {
  min-width: 250px;
}

.algo-visual {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 10px;
  min-height: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.complexities {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.time-complexity,
.space-complexity {
  width: 100%;
}

.time-complexity {
  margin-right: 0;
}

.space-complexity {
  margin-left: 0;
}

.language-menu {
  display: flex;
  justify-content: space-around;
}

.language {
  text-align: center;
  width: 75%;
  cursor: pointer;
}

.language:hover {
  color: cadetblue;
}

.code-img-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.code-img-wrapper img {
  max-width: 100%;
}
/* Media Queries */
@media (min-width: 1200px) {
  .algo-container {
    flex-direction: row;
  }

  .algo-info {
    flex: 2;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 100px);
  }

  .algo-visual {
    flex: 8;
    margin-left: 10px;
    margin-top: 0;
  }

  .complexities {
    flex-direction: row;
    justify-content: center;
    min-height: 380px;
  }

  .time-complexity {
    margin-left: 5px;
  }

  .space-complexity {
    margin-right: 5px;
  }
}
