<section class="algo-container">
  <div class="algo-info">
    <h1>Insertion Sort</h1>
    <p>
      Insertion sort is a simple sorting algorithm that works the way we sort
      playing cards in our hands.
    </p>
    <h2>Example</h2>
    <span><strong>12</strong>, 11, 13, 5, 6</span> <br />
    <span
      >Let us loop for i = 1 (second element of the array) to 4 (last element of
      the array)</span
    >
    <br />
    <span
      >i = 1. Since 11 is smaller than 12, move 12 and insert 11 before 12</span
    >
    <br />
    <span><strong>11, 12</strong>, 13, 5, 6</span> <br />
    <span
      >i = 2. 13 will remain at its position as all elements in A[0..I-1] are
      smaller than 13</span
    >
    <br />
    <span><strong>11, 12, 13</strong>, 5, 6</span> <br />
    <span
      >i = 3. 5 will move to the beginning and all other elements from 11 to 13
      will move one position ahead of their current position.</span
    >
    <br />
    <span><strong>5, 11, 12, 13</strong>, 6</span> <br />
    <span
      >i = 4. 6 will move to position after 5, and elements from 11 to 13 will
      move one position ahead of their current position.</span
    >
    <br />
    <span><strong>5, 6, 11, 12, 13</strong></span> <br />
    <p>
      <strong>Time Complexity :</strong> O(n<sup>2</sup>) <br />
      <strong>Space Complexity :</strong> O(1)
    </p>
    <small
      ><a href="https://www.geeksforgeeks.org/selection-sort/" target="_blank"
        >Source: https://www.geeksforgeeks.org/selection-sort/</a
      ></small
    >
  </div>
  <div class="algo-visual"></div>
</section>
<section class="complexities">
  <div class="space-complexity">
    <div class="language-menu">
      <div
        class="language"
        id="cplusplus"
        (click)="onLanguageSelect('cplusplus')"
      >
        C++
      </div>
      <div class="language" id="c" (click)="onLanguageSelect('c')">C</div>
      <div class="language" id="python" (click)="onLanguageSelect('python')">
        Python
      </div>
      <div class="language" id="java" (click)="onLanguageSelect('java')">
        Java
      </div>
      <div class="language" id="csharp" (click)="onLanguageSelect('csharp')">
        C#
      </div>
      <div class="language" id="php" (click)="onLanguageSelect('php')">PHP</div>
    </div>
    <div class="code-img-wrapper">
      <img src="{{ languageUrl }}" alt="code-snippet" />
    </div>
  </div>
  <div class="time-complexity">
    <h2>Illustration</h2>
    <div class="code-img-wrapper">
      <img
        src="../../../assets/sample_code/sort/insertion/insertionsort.png"
        alt="code-snippet"
      />
    </div>
  </div>
</section>
