<section class="algo-container">
  <div class="algo-info">
    <h1>Bubble Sort</h1>
    <p>
      Bubble Sort is the simplest sorting algorithm that works by repeatedly
      swapping the adjacent elements if they are in wrong order.
    </p>
    <p>
      <strong>First Pass:</strong> <br />
      ( <strong>5 1</strong> 4 2 8 ) –> ( <strong>1 5</strong> 4 2 8 ), Here,
      algorithm compares the first two elements, and swaps since 5 > 1. <br />
      ( 1 <strong>5 4</strong> 2 8 ) –> ( 1 <strong>4 5</strong> 2 8 ), Swap
      since 5 > 4 <br />
      ( 1 4 <strong>5 2</strong> 8 ) –> ( 1 4 <strong>2 5</strong> 8 ), Swap
      since 5 > 2 <br />
      ( 1 4 2 <strong>5 8</strong> ) –> ( 1 4 2 <strong>5 8</strong> ), Now,
      since these elements are already in order (8 > 5), algorithm does not swap
      them.
    </p>
    <p>
      <strong>Second Pass:</strong> <br />
      ( <strong>1 4</strong> 2 5 8 ) –> ( <strong>1 4</strong> 2 5 8 ) <br />
      ( 1 <strong>4 2</strong> 5 8 ) –> ( 1 <strong>2 4</strong> 5 8 ), Swap
      since 4 > 2 <br />
      ( 1 2 <strong>4 5</strong> 8 ) –> ( 1 2 <strong>4 5</strong> 8 ) <br />
      ( 1 2 4 <strong>5 8</strong> ) –> ( 1 2 4 <strong>5 8</strong> ) <br />
      Now, the array is already sorted, but our algorithm does not know if it is
      completed. The algorithm needs one whole pass without any swap to know it
      is sorted.
    </p>
    <p>
      <strong>Third Pass:</strong> <br />
      ( <strong>1 2</strong> 4 5 8 ) –> ( <strong>1 2</strong> 4 5 8 ) <br />
      ( 1 <strong>2 4</strong> 5 8 ) –> ( 1 <strong>2 4</strong> 5 8 ) <br />
      ( 1 2 <strong>4 5</strong> 8 ) –> ( 1 2 <strong>4 5</strong> 8 ) <br />
      ( 1 2 4 <strong>5 8</strong> ) –> ( 1 2 4 <strong>5 8</strong> ) <br />
    </p>
    <p>
      <strong>Time Complexity :</strong> O(n<sup>2</sup>)<br />
      <strong>Space Complexity : </strong> O(1)
    </p>
    <small
      ><a href="https://www.geeksforgeeks.org/selection-sort/" target="_blank"
        >Source: https://www.geeksforgeeks.org/selection-sort/</a
      ></small
    >
  </div>
  <div class="algo-visual"></div>
</section>
<section class="complexities">
  <div class="space-complexity">
    <div class="language-menu">
      <div
        class="language"
        id="cplusplus"
        (click)="onLanguageSelect('cplusplus')"
      >
        C++
      </div>
      <div class="language" id="c" (click)="onLanguageSelect('c')">C</div>
      <div class="language" id="python" (click)="onLanguageSelect('python')">
        Python
      </div>
      <div class="language" id="java" (click)="onLanguageSelect('java')">
        Java
      </div>
      <div class="language" id="csharp" (click)="onLanguageSelect('csharp')">
        C#
      </div>
      <div class="language" id="php" (click)="onLanguageSelect('php')">PHP</div>
    </div>
    <div class="code-img-wrapper">
      <img src="{{ languageUrl }}" alt="code-snippet" />
    </div>
  </div>
  <div class="time-complexity">
    <h2>Illustration</h2>
    <div class="code-img-wrapper">
      <img
        src="../../../assets/sample_code/sort/bubble/bubble-sort-illustration.png"
        alt="code-snippet"
      />
    </div>
  </div>
</section>
